<div class="container content">
  <div class="password-form rounded-sm col-sm-4 p-0 mx-auto">
    <form
      [formGroup]="formGroup"
      class="mx-auto bg-white p-5"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        appearance="outline"
        [class.mat-form-field-invalid]="invalidCredentials"
      >
        <mat-label>Old Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="oldPassword"
          (input)="onPasswordInput()"
          appAutofocus
        />
        <mat-error *ngIf="oldPassword.hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        [class.mat-form-field-invalid]="invalidCredentials"
      >
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="newPassword"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="newPassword.hasError('required')"
          >This field is required</mat-error
        >
        <mat-error *ngIf="newPassword.hasError('minlength')"
          >Password must have at least {{ minPw }} characters</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        [class.mat-form-field-invalid]="invalidCredentials"
      >
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmNewPassword"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="confirmNewPassword.hasError('required')"
          >Please confirm your password</mat-error
        >
        <mat-error *ngIf="formGroup.errors?.misMatch"
          >Passwords don't match</mat-error
        >
        <mat-hint class="text-danger" *ngIf="invalidCredentials"
          >Invalid Credentials. Try again</mat-hint
        >
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        [disabled]="formGroup.invalid || !confirmNewPassword.value"
      >
        Submit
      </button>
    </form>
  </div>
</div>
