main {
  margin-top: 2.5vw;
  margin-bottom: 7.5vw;
}

nav {
  width: 100%;
  z-index: -100;
}

.app-top-bar {
  border-bottom: 5px solid rgba(255,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

@media print {
  .app-top-bar, .mat-snackbar-container {
    display: none;
  }
}


.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.1) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}
