mat-form-field {
  width: 100%;
}
div.password-form {
  height: 100%;
  border: 5px solid rgba(255, 0, 0, 0.5);
  /* border-radius: 1em; */
}
.password-form button {
  background: var(--navy-1);
  color: white;
}
.password-form button:disabled {
  background: var(--grey-a5);
  color: var(--grey-7f);
}