nav {
  /* box-sizing: content-box;
  padding: 0px 5px;
  margin: 0;
  position: sticky;
  top: 0; */
  background-color: white;
  /* z-index: 9999999;
  height: 16vh;
  max-height: 128px; */
}
/* div.banner {
  padding: 0px 5px;
  padding: 0px 5px;
  margin: 0;
  background-color: white;
}
ul {
  margin-left: 20px;
  display: inline;
}
li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
} */
.logo {
  height: 10vh;
  max-height: 64px;
}
a {
  font-family: Garamond, 'Sorts Mill Goudy';
  font-size: 12pt;
  color: var(--blue-grey);
  font-weight: 600;
}
a.dropdown-item {
  font-family: Roboto;
  font-weight: normal;
}
span {
  font-family: 'Sorts Mill Goudy';
  max-height: 64px;
  font-size: 40pt;
  color: var(--red-1);
}
mat-icon {
  color: var(--red-1);
}
#navlinks {
  margin-left: 20px;
}
.small-title {
  font-size: 5vh;
}
